name: Release package
on:
  release:
    types: [published]
jobs:
  release:
    name: Release package
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Create package
      run: dotnet pack -c Release -p:Version=${{ github.event.release.tag_name }}

    - name: Archive package
      uses: actions/upload-artifact@v6
      with:
        name: Spottarr.Usenet
        path: ./artifacts/package/release/Spottarr.Usenet.${{ github.event.release.tag_name }}.nupkg

    #- name: Publish package (GitHub)
    #  run: dotnet nuget push ./package/*.nupkg --api-key ${{ secrets.GH_API_KEY }} --source https://nuget.pkg.github.com/sonarr/index.json

    - name: Publish package (NuGet)
      run: dotnet nuget push ./artifacts/package/release/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
